@keyframes box_size{
    from{
        height: 128px;
        width: 256px;
    }
    to{
        height: 158px;
        width: 276px;
    }
}
html,body{
    background-color: lightgray;
    height: 100%;
    margin: 0px;

}
button{
    height: 128px;
    width: 256px;
    background-color: rgba(60, 60, 60, 0.7);
    border-radius: 15px;
    border-color: rgba(255, 255, 255, 255);
}

.button_Jonas{
    float: left;
    width: 50%;
    height: 200px;
    background-color: #ccc;
   
}
a {
    color: rgba(180, 180, 180, 1);
    font-size: 3.2em;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    animation-name: box_size;
    animation-duration: 1s;
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.8);
}